* {
    transition: all 0.5s;
    direction: rtl;
}

.navbar-back {
    background-color: #222222;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
}

.navbar-back:hover {
    background-color: rgba(34, 34, 34, 0.5) !important;
}

@media (min-width: 768px) {
    .navbar-back {
        background: linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0.5) 60%, rgba(34, 34, 34, 0) 100%) !important;
        background: -webkit-linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0.5) 60%, rgba(34, 34, 34, 0) 100%) !important;
    }
}

/*------------------*/
body {
    overflow-x: hidden;
    background: transparent;
}

svg {
    display: block;
    overflow: visible;
}

.slider-container {
    position: relative;
    height: 500px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: all-scroll;
}

.slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
}

.slider-control.inactive:hover {
    cursor: auto;
}

.slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
}

.slider-control.left {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}

.slider-control.right {
    right: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style-type: none;
}

.slider-pagi__elem {
    display: block;
    margin: 5px 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.slider {
    z-index: 1;
    position: relative;
    height: 100%;
}

.slider.animating {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
}

.slider.animating .slide__bg {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide.active .slide__overlay,
.slide.active .slide__text {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}

.slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg");
}

.slide:nth-child(1) .slide__overlay-path {
    fill: #e99c7e;
}

@media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
        background-color: rgba(233, 156, 126, 0.8);
    }
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(2) .slide__bg {
    left: -50%;
}

.slide:nth-child(2) .slide__overlay-path {
    fill: #e1ccae;
}

@media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
        background-color: rgba(225, 204, 174, 0.8);
    }
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(3) .slide__bg {
    left: -100%;
}

.slide:nth-child(3) .slide__overlay-path {
    fill: #adc5cd;
}

@media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
        background-color: rgba(173, 197, 205, 0.8);
    }
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}

.slide:nth-child(4) .slide__overlay-path {
    fill: #cbc6c3;
}

@media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
        background-color: rgba(203, 198, 195, 0.8);
    }
}

.slide__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    will-change: transform, opacity;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

@media (max-width: 991px) {
    .slide__overlay {
        display: none;
    }
}

.slide__overlay path {
    opacity: 0.8;
}

.slide__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    will-change: transform, opacity;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}

a.slide__text-link:hover {
    text-decoration: none;
    color: #FFF;
}

@media (max-width: 991px) {
    .slider-pagi__elem {
        display: none;
    }

    .slide__text {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10rem;
        text-align: center;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        padding: 0 1rem;
    }
}

@media (max-width: 991px) {
    .slide__text-heading {
        line-height: 5rem;
    }
}

.slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(-85deg);
    transform: rotateX(-85deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    will-change: transform;
}

.slide__text-link:hover:before {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

/*-------------*/
.shadow {
    box-shadow: 0px 0px 10px #5a6268;
}

.shadow:hover {
    box-shadow: 0px 5px 20px #5a6268;
    transform: translateY(-10px);
}

.portfolio img {
    margin-top: 20px;
}

.footer {
    background: #222222;
    color: white;
}

/*-------------*/
.drop-menu {

}

.drop-content {
    position: absolute;
    z-index: 9;
    top: 0;
    opacity: 0;
    display: none;
    width: 100%;
    height: 500px;
}

nav a:hover{
    color:red !important;
}

.text-gray,.text-gray a{
    color: #aaaaaa !important;
}
.text-gray a:hover{
    color: white !important;
}
/* modal login */
.modal-get-offer .modal-content {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #343a40;
    color:#FFF;
}
.modal-get-offer .modal-content .modal-header {
    text-align:center;
    border: none;
}
/*header*/
.dark-back {
    background-color: #222 !important;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
}
@keyframes gallery-animation {
    0%{opacity:0;filter: glow(100px);}
    100%{opacity:1;filter:glow(0px);}
}
.gallery-animation{
    transition:all 0.5s;
    -webkit-animation: gallery-animation 0.5s;
    -o-animation: gallery-animation 0.5s;
    animation: gallery-animation 0.5s;
}
.similar-hover:hover{
    box-shadow: 0px 0px 10px white;
}
a:hover{
    text-decoration: none;
    color: #000;
}
a{
    color:black;
}

@media (max-width: 990px){
    #nav-menu{
        display: none !important;
    }
}
/* loader */
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ededed;
}

.loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 3.5;
    -webkit-animation-name: preloader;
    animation-name: preloader;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 170px 170px;
    transform-origin: 170px 170px;
    will-change: transform;
}
circle:nth-of-type(1) {
    stroke-dasharray: 550px;
}
circle:nth-of-type(2) {
    stroke-dasharray: 500px;
}
circle:nth-of-type(3) {
    stroke-dasharray: 450px;
}
circle:nth-of-type(4) {
    stroke-dasharray: 300px;
}
circle:nth-of-type(1) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}
circle:nth-of-type(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
circle:nth-of-type(3) {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
}
circle:nth-of-type(4) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*background*/
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    background: #fff;
    background: -webkit-linear-gradient(to left, #f1f1f1, #f8f9fa);
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(133, 220, 224, 0.66);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
